<!DOCTYPE html>
<html>
  <head>
    <title>Ubucon Europe 2019 Presentation</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="UTF-8" http-equiv="encoding">

    <style >
      @import url(style.css);
    </style>
  </head>
  <body>
    <textarea id="source">


name: inverse
layout: true
class: center, middle, inverse

---

name: impact
layout: true
class: center, middle, impact, content

---

name: title
layout: true
class: title center

---

name: content
layout: true

---

template: title
name: main-title
number: I

.content[

# Next up in this room: Talk
## Speaker: Author
## Starts at: Time

.small[presentation by: Speaker on Ubucon Europe 2019]

]

---

# Sponsors - 1

Sponsors Diamond

---

# Sponsors - 2

Sponsors Platinum

---

# Sponsors - 3

Sponsors - Gold


    </textarea>
    <!--
    <script src="https://remarkjs.com/downloads/remark-latest.min.js">
    </script>
    -->
    <script src="remark-latest.min.js">
    </script>
    <script>
      var slideshow = remark.create({
        // Show roman numbering here!
        slideNumberFormat: function (current, total) {
          var lookup = {M:1000,CM:900,D:500,CD:400,C:100,XC:90,L:50,XL:40,X:10,IX:9,V:5,IV:4,I:1},roman = '',i;
          for ( i in lookup ) {
            while ( current >= lookup[i] ) {
              roman += i;
              current -= lookup[i];
            }
          }
          return roman;
        },
        ratio: '16:9',
      });
    </script>
    <script id="extra_script">

      // SSE
      // Create a callback for when a new message is received.
      var updater = new EventSource('/events');
      updater.onmessage = function(e) {
        console.log(e.data);
        document.querySelector("#slide-main-title > div:nth-child(1) > h1:nth-child(1)").innerHTML = e.data.substring(0,25);
      };

    </script>
  </body>
</html>

